*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

header{
    display: flex;
    justify-content: center;
    height: 120px;
    background-color: #010101;
}

.container{
    width: 990px;
    display: flex;
    justify-content: space-between;
}

.logo{
    display: flex;
    align-items: center;
}

.imagemLogo{
    width: 200px;
}

nav ul, nav li{
    list-style: none;
    margin: 0;
    padding: 0;
}
nav ul{
    display: flex;
}

nav a{
    display: block;
    padding: 15px;
    text-decoration: none;
    color: #727272;
}

nav .active a, nav a:hover{
    background-color: #A959CF;
    color: #ffffff;
}

.menu{
    display: flex;
    align-items: center;
}

#banner{
    background-image: url(../assets/library.svg);
    background-position: center;
    background-size: cover;
    height: 677px;
    display: flex;
    justify-content: center;
}

.column{
    flex-direction: column;
}

.textoPrincipal{
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.tituloHome{
    color: #ffffff;
    font-size: 50px;
    text-shadow: 0px 1px 0px #555555;
    margin: 0;
    padding: 0;
    max-width: 700px;
}

.subtituloHome{
    color: #ffffff;
    font-size: 21px;
    text-shadow: 0px 1px 0px #010101;
    margin: 0;
    padding: 0;
    max-width: 700px;
    margin-top: 30px;
}

.cards{
    height: 215px;
    display: flex;
}

.cards a{
    display: inline-block;
    border: 1px solid #ffffff;
    padding: 10px;
    color: #ffffff;
    font-size: 13px;
    text-decoration: none;
}

.card1, .card2, .card3{
    flex: 1;
    color: #ffffff;
    padding: 20px;
}

.card1{
    background-color: #A959CF;
}

.card2{
    background-color: #8131a7;
} 

.card3{
    background-color: #631986;
}

.cardTitulo{
    font-size: 21px;
}

.cardDescricao{
    font-size: 14px;
    margin-top: 20px;
    margin-bottom: 20px;
    line-height: 25px;
}

.lugar1, .lugar2, .lugar3{
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #828282;
    margin-top: 15px;
}

.lugarNome, .lugarPais{
    font-size: 13px;
}

#conteudo{
    display: flex;
    justify-content: center;
}

#conteudo section{
    flex: 2;
}

#conteudo aside{
    flex: 1;
}

.widgetTitle{
    margin-top: 30px;
    margin-bottom: 20px;
}

.widgetTitleText{
    color: #010101;
    font-size: 21px;
    font-weight: bold;
}

.widgetTitleBar{
    width: 50px;
    height: 3px;
    background-color: #A959CF;
    margin-top: 10px;
}

article a{
    text-decoration: none;
}

article .data{
    display: flex;
}

article .dataPost{
    background-color: #8131a7;
    color: #ffffff;
    font-size: 12px;
    padding: 10px;
    margin-right: 2px;
}

article .comentarios{
    background-color: #A959CF;
    color: #ffffff;
    font-size: 12px;
    padding: 10px;
}

article .imagemNoticia{
    width: 100px;
    height: auto;
    margin-top: 30px;
}

.tamanhoImgNoticias{
    width: 300px;
    height: 200px;
}

article .tituloNoticia{
    margin-top: 25px;
    margin-bottom: 25px;
    color: #010101;
    font-size: 21px;
}

article .resumoNoticia{
    font-size: 14px;
    color: #5c5c5c;
    line-height: 20px;
    margin-bottom: 30px;
}

.flex{
    display: flex;
    flex-wrap: wrap;
}

article{
    flex: 1;
    min-width: 300px;
    margin-right: 20px;
}

.tamanhoQuadrados{
    display: flex;
    flex-wrap: wrap;
    width: 325px;
}

.quadrados{
    margin-top: 10px;
    margin-bottom: 20px;
    margin-right: 2.5px;
    flex: 1;
    width: 160px;
    height: 120px;
    cursor: pointer;
}

.textoAgencia{
    margin-top: 15px;
    line-height: 20px;
    font-size: 15px;
    margin-bottom: 30px;
}

.agencia{
    display: flex;
    margin-top: 15px;
}

.descricaoAgencia{
    font-size: 15px;
    line-height: 25px;
}

.icon{
    width: 17px;
    height: 20px;
    margin-right: 10px;
}


footer{
    background-color: #010101;
    display: flex;
    justify-content: center;
}

.footerMenu{
    display: flex;
    flex: 1;
}

.fm1, .fm2, .fm3{
    flex: 1;
    color: #ffffff;
    padding: 20px;
}

.fm1{
    background-color: #A959CF;
}

.fm2{
    background-color: #8131a7;
} 

.fm3{
    background-color: #631986;
}

.flexColumn{
    flex-direction: column;
}

.footerArea{
    display: flex;
}

.footerConteudo{
    flex: 1;
    color: #ffffff;
}

footer .widgetTitleText{
    color: #ffffff;
}

.footerCopy{
    border-top:  1px solid #2c2c2c;
    height: 40px;
    line-height: 40px;
    color: #929292;
    font-size: 12px;
    margin-top: 30px;
}

.tituloFooter{
    margin-top: 25px;
    margin-bottom: 25px;
    color: #ffffff;
    font-size: 21px;
}

.descricaoFooter{
    margin-top: 25px;
    margin-bottom: 25px;
    color: #ffffff;
    font-size: 15px;
    line-height: 20px;
}


.resumoFooter{
    font-size: 14px;
    color: #ffffff;
    line-height: 20px;
    margin-bottom: 30px;
}


.buttonFooter{
    padding: 10px;
    border-radius: 8px;
    color: #ffffff;
    background-color: #A959CF;
    border: none;
}

.ultimosPosts{
    display: flex;
}

.identificadorFooter{
    font-size: 25px;
    color: #A959CF;
    font-weight: bold;
    margin-right: 10px;
}

.tituloNoticiaFooter{
    font-size: 14px;
    color: #ffffff;
    line-height: 20px;
    margin-bottom: 10px;
}

.descricaoNoticiaFooter{
    font-size: 12px;
    color: #ffffff;
    line-height: 20px;
    margin-bottom: 10px;
}

.diasFooter{
    font-size: 10px;
    color: #A959CF;
    margin-bottom: 20px;
}

.menuMobile{
    display: none;
    width: 40px;
    height: 40px;
    margin-top: 40px;
    margin-bottom: 40px;
    margin-right: 20px;
}

.menuMobileLine{
    height: 3px;
    background-color: #631986;
}

.legenda {
    position: relative;
}

.overlay {
    margin-top: 10px;
    position: absolute;
    top: 0;
    left: 0;
    width: 160px;
    height: 120px;
    background-color: rgba(0, 0, 0, 0.5);
    display: none;
    align-items: center;
    justify-content: center;
    color: white;
    text-align: center;
}

.quadrados:hover + .overlay {
    display: flex; 
}

@media (max-width: 600px){

    .textoPrincipal{
        padding: 20px;
    }
    
    .tituloHome{
        font-size: 55px;
    }

    .subtituloHome{
        font-size: 17px;
    }

    .cards{
        height: auto;
        flex-direction: column;
    }

    .container{
        flex-direction: column;
    }

    #conteudo{
        padding-top: 80px;
    }

    #conteudo section, #conteudo aside{
        padding: 20px;
    }

    .footerMenu{
        flex-direction: column;
    }

    .footerArea{
        flex-direction: column;
        padding: 20px;
    }

    .footerCopy{
        padding-left: 20px;
    }

    header .container{
        flex-direction: row;
    }

    nav ul{
        flex-direction: column;
        display: none;
        position: absolute;
        left: 0;
        width: 100%;
        background-color: #ffffff;
    }

    header{
        height: auto;
    }

    .logo{
        padding: 20px;
    }

    .menuMobile{
        display: flex;
        flex-direction: column;
        justify-content: space-around;
    }

    .tamanhoQuadrados{
        display: flex;
        flex-wrap: wrap;
        width: 325px;
    }
    
    .quadrados{
        margin-top: 10px;
        margin-bottom: 20px;
        margin-right: 2.5px;
        flex: 1;
        width: 325px;
        height: 170px;
    }
}


